@font-face {
  font-family: "Latin Modern";
  src: url("/fonts/lmroman10-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Latin Modern";
  src: url("/fonts/lmroman10-bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Latin Modern";
  src: url("/fonts/lmroman10-italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Latin Modern";
  src: url("/fonts/lmroman10caps-regular.otf");
  font-weight: normal;
  font-style: normal;
  font-variant: small-caps;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.lm {
  font-family: "Latin Modern", serif;
}

.lm-italic {
  font-family: "Latin Modern", serif;
  font-style: italic;
}

.small {
  font-size: 9.96pt;
}

.tiny {
  font-size: 9pt;
}

.section-title {
  font-family: "Latin Modern", serif;
  font-variant: small-caps;
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
  margin-bottom: 2pt;
}