@import "tailwindcss";

:root {
  font-family: "Inter";
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  #resume-print-target {
    margin: 0;
    display: block;
    color: black;
  }

  #cv-container {
    margin: 0;
    scale: 1 !important;
  }

  .no-print,
  .no-print * {
    display: none;
  }
}