@import "tailwindcss";

:root {
  font-family: "Inter";
}

.screen-height {
  height: calc(100vh - 150px);
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede scroll global */
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  #root {
    display: none;
  }

  #print-target,
  #print-target > * {
    display: block !important;
  }
}

#print-target {
  display: none;
}
